# Edit and rename this to auth.config.

# General
Expire = 72 # Valid time for token, in hours

# Auth schemes

# Simple auth (username and password from config)
Auth = simpleAuth
Key = $s0m3$secretk3y # To sign/validate JWTs server/client side
Username = foo
Password = bar

# Postgresql auth
# Auth = pgAuth
# Username = dbUser
# Password = dbPassword
# Host = dbHost
# Database = database
